<div class="col-md-6">
    <div><label>Add a User</label></div>
    <form [formGroup]="form" class="well">
        <fieldset>
            <legend>
               <label>User</label>
            </legend>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" formControlName="name">
                <div class="alert alert-danger" *ngIf="form.get('name').touched && !form.get('name').valid">Name is required</div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" formControlName="email">
                <div  *ngIf="form.get('email').touched && form.get('email').errors">
                    <div class="alert alert-danger" *ngIf="form.get('email').errors.required">Email is required</div>
                    <div class="alert alert-danger" *ngIf="!form.get('email').errors.required && 
                                form.get('email').errors.incorrectEmailFormat">Please enter a valid email</div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" class="form-control" formControlName="phone">
                <div class="alert alert-danger" *ngIf="form.get('phone').touched && !form.get('phone').valid">Phone is required</div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <label>Address</label>
            </legend>
            <div class="form-group">
                <label for="street">Street</label>
                <input id="street" type="text" class="form-control" formControlName="street">
                <div class="alert alert-danger" *ngIf="form.get('street').touched && !form.get('street').valid">Street is required</div>
            </div>
            <div class="form-group">
                <label for="suite">Suite</label>
                <input type="text" id="suite" class="form-control" formControlName="suite">
                <div class="alert alert-danger" *ngIf="form.get('suite').touched && !form.get('suite').valid">Suite is required</div>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" class="form-control" formControlName="city">
                <div class="alert alert-danger" *ngIf="form.get('city').touched && !form.get('city').valid">City is required</div>
            </div>
            <div class="form-group">
                <label for="zipCode">Zip Code</label>
                <input type="text" id="zipCode" class="form-control" formControlName="zipCode">
                <div class="alert alert-danger" *ngIf="form.get('zipCode').touched && !form.get('zipCode').valid">Zip Code is required</div>
            </div>
            <input type="submit" class="btn btn-primary" [disabled]="!IsFormValid()" value="save" >
            <!--(click)="OnFormSave()"-->
        </fieldset>
    </form>
</div>