<div class="col-md-6">
    <div><label>Add a User</label></div>
    <form [formGroup]="addUserFormGroup" class="form-horizontal well">
        <fieldset>
            <legend>
                User
            </legend>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" class="form-control" formControlName="phone">
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <label>Address</label>
            </legend>
            <div class="form-group">
                <label for="street">Street</label>
                <input id="street" type="text" class="form-control" formControlName="street">
            </div>
            <div class="form-group">
                <label for="suite">Suite</label>
                <input type="text" id="suite" class="form-control" formControlName="suite">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
                <label for="zipCode">ZipCode</label>
                <input type="text" id="zipCode" class="form-control" formControlName="zipCode">
            </div>
            <input type="submit" value="save" (click)="OnFormSave()">
        </fieldset>
    </form>
</div>