<form [formGroup]="changePasswordForm">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="text" id="oldPassword" class="form-control" formControlName="oldPassword">
         <!--<div *ngIf="changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').errors">
            <div *ngIf="changePasswordForm.controls.oldPassword.errors.required" class="alert alert-danger">Old password is required</div>
            
    </div>-->
        <div *ngIf="changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').errors">
            <div *ngIf="changePasswordForm.get('oldPassword').errors.required" class="alert alert-danger">Old password is required</div>
            
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="text" id="newPassword" class="form-control" formControlName="newPassword">
        <div *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').errors">
            <div *ngIf="changePasswordForm.get('newPassword').errors.required" class="alert alert-danger">New password is required</div>
            <div *ngIf="!changePasswordForm.get('newPassword').errors.required && changePasswordForm.get('newPassword').errors.minlength.actualLength<3" class="alert alert-danger">
                New password should be minimum {{changePasswordForm.get('newPassword').errors.minlength.requiredLength}}</div>
        </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="text" id="confirmPassword" class="form-control" formControlName="confirmPassword">
        <div *ngIf="changePasswordForm.get('confirmPassword').touched && changePasswordForm.get('confirmPassword').errors">
            <div *ngIf="changePasswordForm.get('confirmPassword').errors.required" class="alert alert-danger">Confirm password is required</div>
             <!--<div *ngIf="changePasswordForm.get('confirmPassword').errors.minLength > 4" class="alert alert-danger">Min Len password is required</div>-->
        </div>
         <div *ngIf="!changePasswordForm.get('confirmPassword').errors && !changePasswordForm.get('newPassword').errors && changePasswordForm.get('confirmPassword').value!= changePasswordForm.get('newPassword').value" class="alert alert-danger">Confirm password does not match</div>
           
    </div>
    <div>
        <!--{{changePasswordForm.value|json}}
       confirm password does not match :{{changePasswordForm.get('confirmPassword').value!= changePasswordForm.get('newPassword').value}}
        {{ !changePasswordForm.get('confirmPassword').errors && !changePasswordForm.get('newPassword').errors 
             && changePasswordForm.get('confirmPassword').value!= changePasswordForm.get('newPassword').value}}
           {{changePasswordForm.valid|json}}
           {{changePasswordForm.get('oldPassword').errors|json}}-->
           <!--{{changePasswordForm.controls.oldPassword.errors|json}}-->
        <input type="submit" value="submit" class="btn">
    </div>
</form>